/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-print-page {
    /* hide the printing component from @media screen */
    display: none;
}

.print-div {
  display: none;
}

@media print {
    /* invert the display (show/hide) properties of the main */
    /* aplication component and the printing component       */
  
    .print-div {
      display: block;
    }
  
    .main-div {
      display: none;
    }

    #ppong-print-page {
      break-after: always;
    }

    #dinamik-print-page {
      break-after: always;
    }

    #riwani-print-page {
      break-after: always;
    }
}

  @page { size: auto;  margin: 0mm; }